.background-image {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    pointer-events: none;
  }
  
  .overlay-image {
    position: absolute;
    left: 300px;
    width: 480px;
    height: 950px;
    top: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;
  }
  .dialog-box {
    position: fixed;
    left: 0;
    font-family: Calibri;
    bottom: 0;
    width: 100%;
    height: 200px; 
    padding: 10px;
    line-height: 0.5;
    background-color: rgba(0, 0, 0, 0.61);
    box-sizing: border-box;
    z-index: 3;
  }
  .button1 {
    z-index: 4;
    width: 250px;
    height: 250px;
    background-image: url('gifa.gif');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    position: absolute;
    border-radius: 20px;
    top: 320px;
    left: 570px;
    border: none;
    outline: none;
    cursor: pointer;
  }
  .button2 {
    z-index: 4;
    width: 250px;
    height: 250px;
    background-image: url('goul.gif');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    position: absolute;
    border-radius: 20px;
    top: 320px;
    left: 1050px;
    border: none;
    outline: none;
    cursor: pointer;
  }