body {
  margin: 0;
  background-image: url("fon.jpg");
  text-align: center;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  position: relative; 
}

.overlay-image {
  position: absolute;
  left: 300px;
  width: 480px;
  height: 950px;
  top: 470px;
  transform: translate(-50%, -50%);
  z-index: 1;
}

#question-container {
  position: relative; 
  z-index: 2;
}

.result-container {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: rgba(0, 0, 0, 0.7); 
  color: #fff;
  padding: 20px;
  border-radius: 5px;
  z-index: 3;
}

.result-container p {
  font-size: 24px;
}
